.dashboard-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-cards {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.indicador {
  text-align: center;
  padding: 16px;
}

.indicador-numero {
  font-size: 2rem;
  font-weight: 700;
}

.indicador-texto {
  font-size: 0.9rem;
  color: var(--gray-60);
}

/* cores */
.azul { color: #1351b4; }
.vermelho { color: #d9382b; }
.amarelo { color: #ffb300; }
.verde { color: #2e7d32; }

/* responsividade */
@media (max-width: 1000px) {
  .dashboard-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .dashboard-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}




br-tag {
  display: inline-flex;
  align-items: center;     /* centraliza vertical */
  justify-content: center; /* centraliza horizontal */
  text-align: center;
}




/* Modal débitos */

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Agrupa ícone + título à esquerda */
.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Aumenta o ícone */
.header-left i {
  font-size: 1.5rem;
}

/* Botão X alinhado à direita */
.btn-close {
  margin-left: auto;
}

/* Ajuste do ícone do X */
.btn-close i {
  font-size: 1rem;
}